{% extends "base.twig" %}

{% block content %}
  {% set disqus_id = 'stevector' %}
  {% include "fullpost.twig" %}

	<section id="comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_identifier = "{{ post.permalink }}";
			(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://{{ disqus_id }}.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript={{ disqus_id }}">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	</section>
{% endblock %}
{% block footer %}  
{% endblock %}
